@using WordCounter.Models;

<h1>Word Counter</h1>

@foreach (CountWords item in Model)
{
<h1>Word:@item.UserWord()</h1>
<h1>Sentence:@item.UserSentence()</h1>
<h1>Count:@item.WordCount()</h1>
}


<a href="/items/new">Add a new item.</a>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
