@using WordCounter.Models;

<h1>Word Counter</h1>

<ul>
@if (Model.Count == 0)
{
  <p>You have no past work!</p>
}
@if(Model.Count != 0)
{
  @foreach (CountWords item in Model)
  {
    <li><a href='/items/@item.GetId()'>@item.Get()</a></li>
  }
}
</ul>

<a href="/items/new">Add a new item.</a>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
